@import "reset.css";
@import "common.css";

/* 인트로 */
.intro {
    position: relative;
    padding : 150px 0;
    background-color: var(--bg-colorRed);
    width: 100%;
    color : #fff;
    overflow: hidden;
}

.intro .tit_wrap {
    padding : 0 20px;
    position: relative;
    z-index: 1;
}

.tit_desc {
    margin-top: 50px;
    font-size: min(3.5vw, 23px);
}

.btn_wrap {
    position: relative;
    margin-top: 80px;
    z-index: 1;
}

.uk-subnav {
    flex-wrap: nowrap;
    height: min(10vw, 70px);
    
}

.btn_wrap li img, .btn_wrap li, .btn_wrap a {
    height: 100%;
}

.btn_wrap li img:last-child {
    display: none;
}

.btn_wrap li:hover img:first-child {
    display: none;
}

.btn_wrap li:hover img:last-child {
    display: inline-block;
}

.ani_wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.ani_wrap figure {
    position: absolute;
    height: 100%;
    width: 100%;
}

.ani_wrap figure img {
    height: 120%;
    object-fit: cover;
}

/* fun */
.fun {
    overflow: hidden;
    padding: 50px 0;
    width: 100%;
}

.fun_ani {
    margin: 40px 0;
    height: 174px;
    background: url(../css/img/about/FUN.png) repeat-x;
    background-size: auto 100%;
    animation: textMove 20s linear infinite;
}

.fun_ani.revert {
    animation-direction: reverse;
}

@keyframes textMove {
    100% {
        background-position: -4754px 0;
    }
}





@media screen and (max-width : 768px) {

}

@media screen and (max-width : 576px) {

}
