/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    /* overflow-x: hidden; */
}

:root {
    --bg-colorwhite : rgba(255,255,255,1)
}

/* 배경이미지 설명 텍스트 숨기기 */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 상단 */
.header {
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: var(--bg-colorwhite);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ham {
    margin-left: 15px;
}

.bag {
    position: absolute;
    right: 5%;
}

.nav-left {
    height: 100%;
}

.logo {
    width: 80px;
    margin-left: 20px;
}

.logo img {
    object-fit: cover;
}

.gnb {
    margin-left: 40px;
    font-size: 13px;
    gap: 0 15px;
    font-weight: bold;
}

.gnb>li{
    position: relative;
    padding: 40px 0;
    box-sizing: border-box;
}

.gnb>li>a {
    position: relative;
    display: block;
    width: 100%;
}
.gnb>li>a::after {
    display: block;
    content: '';
    width : 0%;
    height: 2px;
    background-color: #000;
    margin-left: 50%;
    transition: all .3s;
}

.gnb>li:hover>a::after {
    width: 100%;
    margin-left: 0;
}

.sub-menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 22.5px);
    text-align: center;
    width: 100px;
    padding: 3px;
    box-sizing: border-box;
    background-color: var(--bg-colorwhite);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

.sub-menu li {
    padding: 7px 0;
}

.sub-menu li a:hover{
    color :red;
}

.gnb>li:hover .sub-menu {
    display: block;
}

.nav-right {
    margin-right: 20px;
    height: 100%;
}

.nav-right ul {
    gap: 0 10px;
    height: 100%;
}

#searchBox {
    margin-left: 5px;
}

#searchBox input {
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 5px;
    border-radius: 10px;
}

#searchBox input::placeholder {
    color : #bbb;
    font-weight: bold;

}

/* 하단 */
.footer {
    font-size: 12px;
}

.footer p {
    margin-bottom: 7px;
}

.footer p:last-child {
    margin-bottom: 0;
    margin-top: 20px;
    color : #aaa;
}
.footer span::after {
    content: "";
    display: inline-block;
    border-left: 1px solid #fff;
    height: 13px;
    margin: 0 5px;
    margin-left: 5px;
    margin-bottom: -2px;
}

.footer span:last-child::after {
    display: none;
}


@media screen and (max-width : 576px) {
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    #navbarSide {
        position: absolute;
        top: 60px;
        background-color: var(--bg-colorwhite);
        height: calc(100vh - 60px);
        font-size: max(1.6vw, 14px);
        font-weight: bold;
    }

    #navbarSide li {
        width : 240px;
        margin: 10px 0 20px 10px;
        padding-right: 30px;
    }

    #navAccordion .accordion-item {
        background-color: transparent;
        border: none;
    }

    #navAccordion .accordion-button {
        padding: 0;
        background-color: transparent;
        font-size: max(1.6vw, 14px);
    }

    #navAccordion .accordion-button:not(.collapsed) {
        color: var(--bs-accordion-btn-color);
        background-color: transparent;
        box-shadow: none;
    }

    #navAccordion .accordion-body {
        padding: 0;
    }

    .nav-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color : red;
    }

    .uk-input {
        border-radius: 15px;
    }
}
