@import "reset.css";
@import "common.css";

/* 메인 배너 */
.banner {
    width: 100%;
}

.banner, #carouselBanner, #carouselBanner .carousel-inner, #carouselBanner .carousel-item {
    height: 100vh;
}

#carouselBanner ul li figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#carouselBanner ul li:first-child figure {
    background-image: url(./img/main/banner/ban02.jpg);
}

#carouselBanner ul li:nth-child(2) figure {
    background-image: url(./img/main/banner/ban03.jpg);
}
#carouselBanner ul li:nth-child(3) figure {
    background-image: url(./img/main/banner/ban04.jpg);
}
#carouselBanner ul li:nth-child(4) figure {
    background-image: url(./img/main/banner/ban05.jpg);
}
#carouselBanner ul li:last-child figure {
    background-image: url(./img/main/banner/ban06.jpg);
}

/* 카테고리 */
.category {
    width: 100%;
    padding: 40px 0 40px 0;
    font-weight: bold;
    text-align: center;
}

.category li {
    padding: 0;
}

.category ul {
    width: 100%;
}

/* 베스트 아이템 */
.best figure {
    width: 50%;
}

.best figure+div {
    width: 50%;
    position: relative;
}

.best img {
    width: 100%;
    object-fit: cover;
}

#carouselBest .carousel-control-next {
    color : #000;
    z-index: 99;
}

.bestItem-title {
    position: absolute;
    left: 5%;
    top: 20px;
    gap : 20px 0;
}

.bestItem-title h3 {
    font-size: min(4vw, 30px);
    font-weight: bold;
}

.bestItem-title h4 {
    font-size: min(3vw, 18px);
}


.bestItem-title h5 {
    font-size: min(3.2vw, 20px);
    font-weight: bold;
}
    
.bestItem-title h5 del {
    font-size: min(3vw, 18px);
    color : #aaa;
    font-weight: normal;
}
.bestItem-content {
    position: absolute;
    bottom: 80px;
    left: 5%;
}

.bestItem-desc {
    margin-bottom: 30px;
    font-size: 11px;
    line-height: 2;
    color : #555;
}

.best-buybtn {
    background-color: #000;
    color :#fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 12px;
    transition: all .3s;
}

.best-buybtn:hover {
    background-color: red;
}

/* 뉴 아이템 */
.new-item {
    max-width: 1960px;
    margin: 20px auto 50px;
    color : #000;
}

.new-item figure {
    overflow: hidden;
    }
    
.new-item figure img {
    transition: all .3s;
}

.new-item figure:hover img {
    transform: scale(1.1);
}

.new-item h2 {
    font-size: min(4vw, 30px);
    font-weight: bold;
    padding-bottom: 10px;
}

.new-item h3 {
    font-size: min(3vw, 18px);
    margin-bottom: 20px;
}

.new-item h4 {
    font-size: min(2.8vw, 14px);
    font-weight: bold;
    margin : 7px 0;
}

.new-item h5 {
    font-size: min(2.6vw, 13px);
    font-weight: bold;
}

.new-item del {
    display: inline-block;
    color : #aaa;
    font-weight: normal;
    margin-right: 5px;
}

.new-item h5 b {
    color : red;
    margin-left: 5px;
}

/* offline -  zip */
.zip {
    background: url(./img/main/zip/zip.gif) no-repeat fixed center/cover;
    height: 70vh;
    position: relative;
    margin-bottom: 50px;
}

.zip > div {
    position: absolute;
    background-color: #000;
    padding : 2vw;
}
    
.zip > div > h2, .zip p {
    color : white;
}

.zip h2 {
    font-size: min(3.5vw, 25px);
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.zip p {
    margin-bottom: 20px;
    font-size: min(2.6vw, 18px);
}

.zip > div button {
    border-radius: 20px;
    font-size: min(2vw, 14px);
}

/* 이벤트 */
.event {
    margin-bottom: 40px;
}

.event h2 {
    font-size: min(4vw, 30px);
    font-weight: bold;
    padding-bottom: 20px;
}

.event .card h5 {
    font-weight: bold;
    font-size: min(3.2vw, 16px);
}
    
.event .card p:nth-child(2) {
    font-weight: bold;
    font-size: min(3vw, 14px);
    margin-bottom: 10px;
}

.card-text .text-body-secondary {
    font-size: min(2.8vw, 12px);
}

.event .card figure{
    overflow: hidden;
}

.event .card img {
    transition: all .3s;
}

.event .card:hover img {
    transform: scale(1.1);
}


@media screen and (max-width : 768px) {
    .best figure {
        width: 100%;
    }
    
    .best figure+div {
        width: 100%;
        position: absolute;
        
    }

    .bestItem-title {
        background-color: rgba(255,255,255,0.7);
        padding : 3vw;
        border-radius: 40px;
        gap: 5px 0;
    }

    .bestItem-content {
        display: none;
    }
}

