@import "reset.css";
@import "common.css";

/* 메인 배너 */
.banner {
    width: 100%;
}

.banner, #carouselBanner, #carouselBanner .carousel-inner, #carouselBanner .carousel-item {
    height: 100vh;
}

.banner img {
    height: 100%;
    object-fit: cover;
}

.category {
    width: 100%;
    padding: 40px 0 40px 0;
    font-weight: bold;
    text-align: center;
}

/* 카테고리 */
.category li {
    padding: 0;
}

/* 베스트 아이템 */
.best figure {
    width: 50%;
}

.best figure+div {
    width: 50%;
    position: relative;
}

.best img {
    width: 100%;
    object-fit: cover;
}

#carouselBest .carousel-control-next {
    color : #000;
    z-index: 99;
}

.bestItem-title {
    position: absolute;
    left: 5%;
    top: 20px;
    gap : 20px 0;
}

.bestItem-title h3 {
    font-size: min(4vw, 30px);
    font-weight: bold;
}

.bestItem-title h4 {
    font-size: min(3vw, 18px);
}


.bestItem-title h5 {
    font-size: min(3.2vw, 20px);
    font-weight: bold;
}
    
.bestItem-title h5 del {
    font-size: min(3vw, 18px);
    color : #aaa;
    font-weight: normal;
}
.bestItem-content {
    position: absolute;
    bottom: 80px;
    left: 5%;
}

.bestItem-desc {
    margin-bottom: 30px;
    font-size: 11px;
    line-height: 2;
    color : #555;
}

.best-buybtn {
    background-color: #000;
    color :#fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 12px;
    transition: all .3s;
}

.best-buybtn:hover {
    background-color: red;
}

/* 뉴 아이템 */
.new-item {
    max-width: 1960px;
    margin: 20px auto;
    color : #000;
}

.new-item h2 {
    font-size: min(4vw, 30px);
    font-weight: bold;
    padding-bottom: 10px;
}

.new-item h3 {
    font-size: min(3vw, 18px);
    margin-bottom: 20px;
}

.new-item h4 {
    font-size: min(2.6vw, 14px);
    font-weight: bold;
    margin : 7px 0;
}

.new-item h5 {
    font-size: min(2.4vw, 13px);
    font-weight: bold;
}

.new-item del {
    display: inline-block;
    color : #aaa;
    font-weight: normal;
    margin-right: 5px;
}

.new-item h5 b {
    color : red;
    margin-left: 5px;
}


@media screen and (max-width : 768px) {
    .best figure {
        width: 100%;
    }
    
    .best figure+div {
        width: 100%;
        position: absolute;
        
    }

    .bestItem-title {
        background-color: rgba(255,255,255,0.7);
        padding : 3vw;
        border-radius: 40px;
        gap: 5px 0;
    }

    .bestItem-content {
        display: none;
    }
}

